<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <br>
    <h1 class="text-center">Sign up</h1>
    <br>

    <%= form_for @user do |form| %>
      <%= render 'shared/error_messages' %>

      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
      <br>

      <%= form.label :email %>
      <%= form.email_field :email, class: 'form-control' %>
      <br>

      <%= form.label :password %>
      <%= form.password_field :password, class: 'form-control' %>
      <br>

      <%= form.label :password_confirmation, 'Confirmation' %>
      <%= form.password_field :password_confirmation, class: 'form-control' %>
      <br>
      <br>
      <%= form.submit 'Sign up', class: 'btn btn-block btn-default' %>
    <% end %>

  </div>
</div>
