<nav class="navbar navbar-default">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Music Planet", root_path, class: "navbar-brand", id: "logo" %>
    </div>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav">
          <li class="<%= 'active' if params[:action] == 'show' %>"><%= link_to 'About', about_path %></li>
          <li class="<%= 'active' if params[:action] == 'show' %>"><%= link_to 'Contact', contact_path %></li>
        <% if logged_in? && current_user.superadmin?  %>
          <li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Songs', songs_path %></li>
          <li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Playlists', superadmin_playlists_path %></li>
          <li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Albums', superadmin_albums_path %></li>
      <% elsif logged_in? && current_user.admin? %>
        <li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Songs', songs_path %></li>
          <li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Playlists', admin_playlists_path %></li>
          <li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Albums', admin_albums_path %></li>
        <% else logged_in? %>
        <li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Songs', songs_path %></li>
        <li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Playlists', playlists_path %></li>

        <%end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% unless logged_in? %>
          <li><%= link_to 'Log in', new_session_path %></li>
          <li><%= link_to 'Register', new_user_path, id: "register" %></li>
        <% else %>
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">Logged in as: <%= current_user.name %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if current_user.admin? %>
              <li><%= link_to 'Dashboard', admin_dashboard_path %></li>
            <% end %>
            <li><%= link_to 'Logout', session_path, method: :delete %></li>
          </ul>
        </li>
<% end %>
      </ul>
    </div>
</nav>
