<!DOCTYPE html>
<html>
  <head>
    <title>MusicPlanet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body-background">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
          <%= link_to "Music Planet", root_path, class: "navbar-brand", id: "logo" %>
      </div>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav">
            <li class="<%= 'active' if params[:action] == 'show' %>"><%= link_to 'About', about_path %></li>
            <li class="<%= 'active' if params[:action] == 'show' %>"><%= link_to 'Contact', contact_path %></li>
            <% if logged_in? && current_user.admin? %>
            <li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Songs', songs_path %></li>
            <li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Playlists', admin_playlists_path %></li>
            <li class="<%= 'active' if params[:action] == 'index' %>"><%= link_to 'Albums', admin_albums_path %></li>
          <%end %>
        </ul>
          <ul class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Logged in as: <%= current_user.name %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Dashboard', admin_dashboard_path %></li>
                  <li><%= link_to 'Logout', session_path, method: :delete %></li>
                </ul>
              </li>
            </ul>
          </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
